<div class="row">
  <div class="col-sm-12">
    <div class="action-buttons" role="group">
      <form action="blackjack/hit" method="post">
        <button class="btn btn-success btn-lg">Hit</button>
      </form>

      <form action="blackjack/stay" method="post">
        <button class="btn btn-primary btn-lg">Stay</button>
      </form>

      <form action="blackjack/split" method="post">
        <button class="btn btn-primary btn-lg">Split</button>
      </form>

      <form action="blackjack/double" method="post">
        <button class="btn btn-primary btn-lg">Double</button>
      </form>
    </div>
  </div>
</div>
