<div class="row">
  <div class="col-sm-12">

    <form action="blackjack/hit" method="post">
      <button class="btn btn-success">Hit</button>
    </form>

    <form action="blackjack/stay" method="post">
      <button class="btn btn-primary">Stay</button>
    </form>

    <form action="blackjack/split" method="post">
      <button class="btn btn-primary">Split</button>
    </form>

    <form action="blackjack/double" method="post">
      <button class="btn btn-primary">Double</button>
    </form>
    
  </div>
</div>
