<div class="col-sm-6 col-sm-offset-3">
  <h1>Place your bet</h1>

  <form action="blackjack/bet" method="post">
    <div class="form-group">
      <label for="bet_amount">Bet Amount</label>
      <input type="text" class="form-control" name="bet_amount">
    </div>
    <input type="submit" class='btn btn-success'>
  </form>
</div>
