<div class="row">
  <div class="col-sm-12">
    <h2><%= @blackjack.winner.to_s.capitalize %> Wins!</h2>

    <form action="blackjack/new_game" method="post">
      <button class="btn btn-primary">Play again</button>
    </form>
  </div>
</div>
