  <h4> <%= hand.name %> <span class="label label-primary"><%= hand.best_value %></span></h4>
<div class="well ">
  <div class="row">
    <div class="player-hand">
      <ul>
        <% hand.cards.each do |card| %>
          <%= erb :"shared/card", locals: {card: card} %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
