<h4> <%= hand.name %> <span class="label label-primary"><%= hand.best_value %></span></h3>
<div class="row">
  <div class="player-hand">
    <ul>
      <% hand.cards.each do |card| %>
        <%= erb :"shared/card", locals: {card: card} %>
      <% end %>
    </ul>
  </div>
</div>
