<div class="card-container">
  <div class="card col-sm-2 <%= card.color %>">
    <div class="rank">?</div>

    <div class="flip card col-sm-2 <%= card.color %>">
      <div class="rank">?</div>
    </div>
  </div>
</div>
