<nav class="navbar navbar-default my-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand brand" href="/">
        <img class="icon" alt="Brand" src="/icon.png">
      </a>
    </div>

    <p>Blackjack</p>
    <div class="right">
      <a href="/" type="button" class="btn btn-default navbar-btn">New Game</a>
      <a href="/bet" type="button" class="btn btn-default navbar-btn">New Hand</a>
    </div>
  </div>
</nav>
