<%# Blackjack Web %>

<%# /views/shared/navbar.erb %>

<%# options to choose from %>

<nav>
  <ul>
    <li><a href="#">Option 1</a?</li>
    <li><a href="#">Option 2</a?</li>
    <li><a href="#">Option 3</a?</li>
    <li><a href="#">Option 4</a?</li>
  </ul>
</nav>

    
