PLAYER: <%= player.hand %> <br>

<form action="blackjack/hit" method="post">
	<button type="submit" value="HIT">HIT</button>
</form>

<form action="blackjack/stay" method="get">
	<button type="submit" value="STAY">STAY</button>
</form>