<div class="row">
  <div class="col-sm-2 col-xs-3">
    <form action="/blackjack/hit" method="post">
      <div class="form-group">
        <button type="submit" class="btn btn-primary blackjack-game-btn">Hit</button>
      </div>
    </form>
  </div>
  <div class="col-sm-2 col-xs-3">
    <form action="/blackjack/stay" method="post">
      <div class="form-group">
        <button type="submit" class="btn btn-primary blackjack-game-btn">Stay</button>
      </div>
    </form>
  </div>
  <div class="col-sm-2 col-xs-3">
    <form action="/blackjack/double" method="post">
      <div class="form-group">
        <button type="submit" class="btn btn-primary blackjack-game-btn">Double</button>
      </div>
    </form>
  </div>
  <div class="col-sm-2 col-xs-3">
    <form action="/blackjack/split" method="post">
      <div class="form-group">
        <button type="submit" class="btn btn-primary blackjack-game-btn">Split</button>
      </div>
    </form>
  </div>
</div>