<p>Player's bankroll : <%= player_bankroll %> </p>
<% if @error == "INSUFFICIENT_AMOUNT" %>
  <p>Bet amount must be less than or equal to the bankroll </p>
<% end %>
<form action="bet" method = "post">
  Enter Bet Amount<br>
  <input type="text" name="bet">
  <input type="submit" value="Submit">
</form>