
<h5>Current bankroll: <%= bankroll %> </h5>


<% if !bet.nil? && bet.to_i > bankroll.to_i %>
  <h5>Your bet must be less than bankroll.</h5>

  <form action='/start' method='post'>
    <label>Amount to bet:</label>
    <input name="bet"><br>
    <button type="submit" class="btn btn-default">Bet!</button>
  </form>

<% else %>

  <form action='/start' method='post'>
    <label>Amount to bet:</label>
    <input name="bet"><br>
    <button type="submit" class="btn btn-default">Bet!</button>
  </form>


<% end %>



