<h1>Place your bet.</h1>
<h2>Your current balance is <%= session['bankroll'] %> </h2>
<form action="bet" method="post">
  <label>Bet:</label>
  <input type="text" name="bet_value">
</form>
<h3><%= session['bet_message'] %></h3>