<html>
<body>
  <p>Make your bet for the game</p>
  <p>You have <%=bankroll%></p>
  <form action="/blackjack" method="get">
    <input type="text" name="bet" value="30">
    <input type="submit" name="button" value="Make a bet">
  </form>
 

</body>
</html>