<!DOCTYPE html>
<html>
  <h1>you have $ <%=money%> chips left</h1>
  <form action="/blackjack" method = "get">
    <input type="radio" name="choice" value= 5 >5<br>
    <input type="radio" name="choice" value= 10 >10<br>
    <input type="radio" name="choice" value= 20 >20<br>
    <input type="radio" name="choice" value= 50 >50<br>
    <input type="radio" name="choice" value= 100 >100<br>
    <input type="submit" name="button" value="Bet">
  </form>
</html>