<i><%= redirect %></i>
<form action="/bet" method="post">
	<label for="bet">How much would you like to win?</label>
	<input type="number" name="bet" placeholder="$" max="<%= bank %>">
	<button type="submit">Place Bet</button><br>
  <p><i><small>You have $<%= bank %> available</small></i></p>
</form>
