<i><%= redirect %></i>
<form action="/bet" method="post">
	<label for="bet">How much would you like to bet?</label>
	<input type="number" name="bet">
	<button type="submit">Place Bet</button>
</form>
