<h1>Welcome to Blackjack</h1>

<%= flash[:notice] %>
<%= flash[:danger] %>

<p> Input a bet to begin! </p>
<p>You have <%= money %> dollars.</p>
<form action="/bet" method="post">
	<input type=text name="amt"></input>
</form>