<p <%= 'style="color: red"' if params['insufficient']=='true' %> >Money: <%= bankroll %></p>

<form action='/bet' method='post'>
  <p>Enter your bet</p>
  <input type='text' name='bet' placeholder="place bet here">
  <input type='submit'>
</form>
