<%= erb :'header' %>
<h2>Place your bet!</h2>
<% if locals[:invalid_bet] %>
  <p>You do not have enough money to place that bet!</p>
<% end %>
<p>Your balance is $<%= @player.balance %>.</p>
<h3>How much would you like to bet?</h3>
<form action="/bet" method="post">
  <fieldset>
    <legend>Bet</legend>
    <input type="radio" name="bet" value="25" checked>$25<br>
    <input type="radio" name="bet" value="50">$50<br>
    <input type="radio" name="bet" value="100">$100<br>
    <input type="radio" name="bet" value="200">$200<br>
    <input type="submit" value="Place Bet">
  </fieldset>
</form>
