<html>
<header> Game is over</header>

<body>
  <p>Make your bet for the game</p>
  
  <form action="/blackjack" method="post">
    <input type="text" name="bet" value="Make a bet">
    <input type="submit" name="button" value="Make a bet">
  </form>

</body>
</html>