<h2>Place Your Bet!</h2>
<p>Your current bankroll is $<%= bankroll %>.</p>

<p>
  <form action='bet' method='post' class='form-inline'>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="number" name='bet' min='1' class="form-control" placeholder="Amount">
    </div>
    <button type='submit' class='btn btn-danger'>
      <i class="fa fa-money"></i> Place Bet
    </button>
  </form>
</p>