<div class="jumbotron">
  <h1 class="text-center"><span style="color:red">Hello</span>, <span style="color:#DAA520">Blackjack!</span></h1>
</div>
<h1 class="text-center"> How much do you want to wager?</h1>
<form action="/blackjack" method="post">
  <input style="display:inline-block" type="number", name="bet" >
  <input style="padding:2em 4.5em 2em 4.5em" class="btn btn-success btn-lg center-block" type="submit" name="submit" value="submit">
</form>