<h1><% if @user.bet > @user.bankroll %>
  ***ERROR ***
  <br>
  You cannot bet more than you have in your bankroll!!!
  <br>
  Let's try this again shall we.....
<% end %></h1>

<h1>Betting Form</h1>

<h2>Bankroll: $<%= @user.bankroll %></h2>

<form action="/blackjack/bet" method="post">
  Please place your bet: <br>
  <input type="text" name="bet" placeholder="$">
  <input type="submit" name="submit_bet" value="Play!">
</form>
