<h1>Sinatra Blackjack</h1>

<h2>Current Deck:</h2>
<p><%= @deck.cards %></p>
<h2>Number of cards left in deck:</h2>
<%= @deck.cards.length %>

<h2>Dealer's Hand:</h2>
<%= @dealer.hand %>

<h2>Player's Hand:</h2>
<%= @player.hand %>
