
<div class="row">
  <div class="col-md-12">

    <% player_hand.each do |card| %>
     <img src = <%= card %>>
    <% end %>

    <br>

    <% dealer_hand.each do |card| %>    
      <img src = <%= card %>> 
    <% end %>  

  </div>
</div>
