<h1>Dealer's Hand:</h1>
  <p><%= ['HIDDEN'] %><%= @dealer.slice(1, @dealer.length) %></p>

<h1>Your Hand:</h1>
  <p><%= @player %></p>
<h2>Your Total Points:</h2>
  <p><%= @player_score %></p>

<form action = "/blackjack/hit" method = "post">
  <input type = "submit" value = "HIT" name = "hit">
</form>
<form action = "/blackjack/stay" method = "get">
  <input type = "submit" value = "STAY" name = "stay">
</form>
