<form action="blackjack/hit" method="post" >
  <input type="submit" value="Hit" name="choice">
</form>
<br>
<form action="blackjack/stay" method="post">
  <input type="submit" value="Stay" name="choice">
</form>