<h3>Player's Hand</h3>
<p>
  <%= @player_hand[1..-1].join(" ") %> ~> total: <%= @player_hand[0] %>
</p>

<h3>Dealer's Hand</h3>
<p>
  <%= @dealer_hand[1..-1].join(" ") %> ~> total: <%= @dealer_hand[0] %>
</p>


<form action='/blackjack/hit' method='post'>
  <input type='submit' value='Hit'>
</form>

<form action='/blackjack/stay' method='post'>
  <input type='submit' value='Stay'>
</form>