<h1>Dealers hand: <%= dealer %> </h1>
<h1>Players hand: <%= player %> </h1>

<form action='/blackjack/hit' method='post'>
  <button type="submit" class="btn btn-default">Hit</button>
</form>

<form action='/blackjack/stay' method='post'>
  <button type="submit" class="btn btn-default">Stay</button>
</form>

<form action='/blackjack/split' method='post'>
  <button type="submit" class="btn btn-default">Split</button>
</form>

<% unless deck.nil? %>
  <h1>Current shoe: <%= deck %> </h1>
<% end %>