
<h2>Computer</h2>
<p> Hand:</p>
<ul>
  <% dealer_hand.each do |card| %>
  <li><%=card%></li>
  <%end%>
</ul>
<p> Total is <%= dealer_hand.reduce(:+)%> </p>


<h2>Player 1</h2>
<p>Hand:<p>
<ul>
  <%player_hand.each do |card| %>
  <li><%=card%></li>
  <%end%>
</ul>
<p> Total is  <%= player_hand.reduce(:+)%> </p>


<form method="post" action="hit">
  <button type="submit" value="hit">Hit</button>
</form>
<button type="submit" value="Stand">Stand</button>
<button type="submit" value="Double">Double Down</button>
<button type="submit" value="Split">Split</button>