

<h2>Player's hand</h2>
  <%=@phand%>
<h2>Dealer's hand</h2>
  <%=@dhand%>

<% unless @done%>
  <form method="post" action="/blackjack/hit">
    <input type="submit" value="Hit">
  </form>

  <form method="get" action="/blackjack/stay">
    <input type="submit" value="Stay">
  </form>
  <%else%>

<h2>Final results:</h2>
<p> Player score: <%=@playersum%></p>
<p> Dealer score: <%=@dealersum%></p>

<%end%>
