<h2>Dealer Hand</h2>
<ul>
  <li>* face down *</li>
  <%= partial :cards, locals: {cards: dealer_hand[1..-1] }
 %>
</ul>

<h2>Player Hand</h2>
<p>Bankroll: $<%= bankroll %></p>
<p>Bet: $<%= bet %></p>
<ul>
  <%= partial :cards, locals: {cards: player_hand } %>
</ul>

<p>
  <form action='blackjack/hit' method='post'>
    <input type='submit' value='Hit!'>
  </form>

  <form action='blackjack/stay' method='get'>
    <input type='submit' value='Stay!'>
  </form>
</p>

<p>
  <a href="/blackjack/player/new">Cancel and start with a fresh bankroll</a>
</p>
