<h1>Blackjack</h1>

<%= cards %>

<form action="/blackjack" method="post">
 <input type="radio" name="hit" value="hit">hit
 <input type="radio" name="stay" value="stay">stay
 <br>
 <input type ="submit" value="Submit">
 </form>
