<%= erb :player_hand, :locals => { :player_hand => player_hand, :dealer_hand => dealer_hand } if defined?(bet) && defined?(player_hand) && defined?(dealer_hand)%>

<div class="row">
  <div class = "col-md-4 col-md-offset-4 col-centered">
    <h4><%= "Player Bankroll: #{bankroll}" %><h4>
  </div>
</div>

<br>

<%= erb :place_bet unless defined?(bet) %>

<br>


<%= erb :player_actions if defined?(bet) %>
