<!-- dealer hand info -->
<h2>Dealer's Hand:</h2>
  <p><%= @dealer %></p>
<h2> Dealer's Total Points: <%= @dealer_score %></h2>
  <% if @dealer_score > 21 %>
    BUST!!
  <% end %>


<!-- player hand info -->
<h2>Your Hand:</h2>
  <p><%= @player %></p>
<h2>Your Total Points: <%= @player_score %></h2>
  <% if @player_score > 21 %>
    BUST!!
  <% end %>


<!-- winning message/logic -->
<h1><% if @player_score > 21 %>
    BUST! YOU LOSE
  <% elsif @dealer_score > 21 %>
    DEALER BUSTS, YOU WIN!
  <% elsif @dealer_score > @player_score %>
    DEALER WINS!
  <% elsif @dealer_score == @player_score %>
    PUSH - you don't win or lose 
  <% else %>
    YOU WIN!
  <% end %></h1>
<br>
<br>

<!-- buttons -->
<form action = "/blackjack/hit" method = "post">
  <input type = "button" value = "HIT" name = "hit">
</form>
<form action = "/blackjack/stay" method = "get">
  <input type = "button" value = "STAY" name = "stay">
</form>
<form action = "/blackjack/play_again" method = "get">
  <input type = "submit" value = "PLAY AGAIN?" name = "play_again">
</form>
