<h1> BLACKJACK!!! </h1>
  <h2><% if @player_score == 21 %>
    CONGRATULATIONS! YOU WON!
    <% else %>
    COMPUTER WINS, YOU LOSE!
    <% end %></h2>
  <h2>Dealer's Hand:</h2>
    <p><%= @dealer %></p>
  <h3>Dealer's Total Points: <%= @dealer_score %></h3>

  <h2>Your Hand:</h2>
    <p><%= @player %></p>
  <h3>Your Total Points: <%= @player_score %></h3>

<form action = "/blackjack/hit" method = "post">
  <input type = "button" value = "HIT" name = "hit">
</form>
<form action = "/blackjack/stay" method = "get">
  <input type = "button" value = "STAY" name = "stay">
</form>
<form action = "/blackjack/play_again" method = "get">
  <input type = "submit" value = "PLAY AGAIN?" name = "play_again">
</form>
