<!DOCTYPE html>
<html>
<head>
  <title>BlackJack</title>
</head>
<body>
  <div>
    <h1>Dealer</h1>
    <div><%= JSON.parse(session[:dealer]) %></div>
  </div>
  <div>
    <h1>Player</h1>
    <div><%= JSON.parse(session[:player]) %></div>
    <h2>Hi: <%= @player.hi %> Low:<%= @player.low %></h2>
  </div>

  <form action="blackjack/hit" method="POST">
    <input type="submit" value="Hit Me">
  </form>

  <form action="blackjack/stay" method="GET">
    <input type="submit" value="Stay">
  </form>

</body>
</html>