<h1>Welcome to the game!</h1>
  <h3> Hands dealt!</h3>
  <h4>Your hand is <%= player_cards %></h4>
  <h4>The dealer's visible card is <%= dealer_cards[0] if dealer_cards %></h4>


  <form action="blackjack2" method="get">
    <input type="submit" name="hit" value="Hit!">
  </form>

  <form action="blackjack" method="get">
    <input type="submit" name="stay" value="Stay!">
  </form>

  <% unless player_cards.to_a.length > 2 %>
  <form action="blackjack2" method="get">
    <input type="submit" name="double" value="Double!">
  </form>
  <% end %>
