<!-- display if you haven't been here -->
<h1>Welcome to your table, go ahead and take seat</h1>

<!-- display if you've started game -->
<h2>Player hand: <%= player_hand %>  </h2>
<h2>Dealer showing: <%= dealer_hand[1..-1] %> </h2>

<form action="blackjack/hit" method="post">
  <input type="submit" value="Hit me!">
</form>
<form action="blackjack/stay" method="get">
  <input type="submit" value="I'll stay...">
</form>
