<!-- blackjack.erb -->
<h1>
  Let's deal a hand
</h1>

 <p><b>Dealer cards:</b></p>
 <%= @cards2 %>

  <p><b>Dealer score:</b></p>
  <%= @dealer_score %>


 <p><b>Your cards:</b></p>
 <%= @cards %>

  <p><b>Your current score:</b></p>
  <%= @player_score %>


<h2>
  Choose your next move
</h2>
  <form action="/continue" method="post">
    <input type="submit" value="HIT">
    <input type="submit" value="STAY">
  </form>
