<p>Player hand:</p>
<%= erb :hand, :locals => { :hand => session["player_hand"] } %>

<form>
  <button formaction="hit">Hit</button>
  <button formaction="stay">Stay</button>
</form>

<p>Dealer hand:</p>
<%= erb :hand, :locals => { :hand => session["dealer_hand"] } %>

<a href="/">Start a new game</a>
