<h1>Welcome to the game!</h1>

<% unless bet_placed %>
  <form action="blackjack" method="get">
    <input type="number" name="bet" placeholder="How much would you like to bet?"> 
    <input type="submit" name="Bet!">
  </form>
<% else %>


<% end %>