<h4>Welcome to Blackjack!</h4>
<p>Dealers's hand : <%= dealer_hand %></p>
<p>Dealers's current count : <%= dealer_count %> </p>
<p>Player's hand : <%= player_hand %> </p>
<p>Player's current count : <%= player_count %> </p>
Player's Action
<form action="/blackjack/hit" method="post">
  <button name="action" type="submit" value="hit">Hit</button>
</form>
<form action="/blackjack/stay" method="post">
  <button name="action" type="submit" value="stay">Stay</button>
</form>
