
<!doctype html>
<html>
  <head>
    <title>
      Black Jack
    </title>
  </head>

  <body>

  	<h1>Let's Play!</h1>

		<form action="/blackjack" method="post">
		  <br>
		  <input type="submit" name="move" value="Hit">
      <input type="submit" name="move" value="Stay">
		</form>

  </body>

</html>
