<div class="jumbotron">
  <h1 class="text-center"><span style="color:red">Hello</span>, <span style="color:#DAA520">Blackjack!</span></h1>
</div>

<h2> The player's hand is: <%= player_hand %></h2>

<h2> The Dealer's hand is <%= dealer_hand[1..-1] %><h2>

<% if outcome %>
  <%= show_outcome(outcome)  %>
  <form action="/blackjack" method="get">
    <input type="submit" name="Reset" value="reset">
  </form>

<% else %>
  <form action="/blackjack/hit" method="post">
    <input class="btn btn-primary" type="submit" name="Hit" value="Hit!">
  </form>
  <form action="/blackjack/stay" method="get">
    <input class="btn btn-default" type="submit" name="Stay" value="Stay">
  </form>
<% end %>