<!-- blackjack.erb -->
<h1>
  Let's deal a hand
</h1>

 <p><b>Dealer cards:</b></p>
 <%= @dealer_cards %>

  <p><b>Dealer score:</b></p>
  <%= @dealer_score %>


 <p><b>Your cards:</b></p>
 <%= @player_cards %>

  <p><b>Your current score:</b></p>
  <%= @player_score %>


<h2>
  Choose your next move
</h2>

<form action="blackjack/hit" method="post">
  <button type="submit" value="HIT">HIT</button>
</form>
  
<form action="blackjack/stay" method="get">
  <br>
  <button type="submit" value="STAY">STAY</button>
</form>

