<h1>Dealer's Hand:</h1>
  <p><%= ['HIDDEN'] %><%= @dealer.hand.slice(1, @dealer.hand.length) %></p>

<h1>Your Hand:</h1>
  <p><%= @user.hand %></p>
<h2>Your Total Points:</h2>
  <p><%= @user_score %></p>

<form action = "/blackjack/hit" method = "post">
  <input type = "submit" value = "HIT" name = "hit">
</form>
<form action = "/blackjack/stay" method = "get">
  <input type = "submit" value = "STAY" name = "stay">
</form>
