<h2>Dealer Hand</h2>
<ul>
  <li>* face down *</li>
  <% dealer_hand[1..-1].each do |card| %>
    <li><%= card.join(' ') %></li>
  <% end %>
</ul>

<h2>Player Hand</h2>
<ul>
  <% player_hand.each do |card| %>
    <li><%= card.join(' ') %></li>
  <% end %>
</ul>

<p>
  <form action='blackjack/hit' method='post'>
    <input type='submit' value='Hit!'>
  </form>

  <form action='blackjack/stay' method='get'>
    <input type='submit' value='Stay!'>
  </form>
</p>

<p>
  <a href="/blackjack/new">Start a New Game</a>
</p>
