<% if ! game_over	%>
<%= erb :'shared/play', :locals => { 'player' => player } %>


<% else %>
<%= erb :"shared/#{player.status.to_s}", :locals => {'bet' => player.bet} %>


PLAYER: <%= player.hand %> <br>
DEALER: <%= dealer.hand %> <br>
<br>
<form action="/" method="get">
	<button type="submit" value="true">PLAY AGAIN</button>
</form>
<% end %>


