<h1>Sinatra Blackjack</h1>

<p>Dealer cards: <%= bj.p2[:cards] %></p>
<p>Dealer Score: <%= bj.get_score(bj.p2[:cards]) %></p>
<p>Your cards: <%= bj.p1[:cards] %></p>
<p>Your Score: <%= bj.get_score(bj.p1[:cards]) %></p>

<form action="/blackjack/hit" method="post">
  <button type="submit" name="button">Hit</button>
</form>

<form action="/blackjack/stay" method="post">
  <button type="submit" name="button">Stay</button>
</form>

<form action="/blackjack/new-game" method="get">
  <button type="submit" name="button">New Game</button>
</form>
