

<!doctype html>
<html>
  <head>
    <title>
      Black Jack
    </title>
  </head>

  <body>

  	<h1>Black Jack</h1>

    <p>Dealers Hand</p>

    <p><%= dealer %></p>
    <br>

    <p>Player's Hand</p>
    <br>
    <p><%= player %></p>
    <br>

		<form action="/hit" method="post">
		  <br>
		  <input type="submit" name="move" value="Hit">
    </form>
    <form action="/stay" method="post">
      <input type="submit" name="move" value="Stay">
		</form>

  </body>

</html>
