<h1>Dealer's Hand: <%= %></h1>

<h1>Your Hand: <%= %></h1>

<form action = "/blackjack/hit" method = "post">
  <input type = "button" value = "HIT" name = "hit">
</form>
<form action = "/blackjack/stay" method = "post">
  <input type = "button" value = "STAY" name = "stay">
</form>
