<!-- dealer's hand -->

<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <p>Dealer's Hand: <%= dealer.hand_view %></p>
    <p>Hand Value: <%= dealer.hand_value %></p>
  </div>
</div>


<!-- # player's bet -->

<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <p>Player's Hand: <%= user.hand_view %></p>
    <p>Hand Value: <%= user.hand_value %></p>
  </div>
</div>

<form action="/blackjack" method="post">
  <button class="btn btn-primary" type="submit" name="hit">Hit</button>
  <button class="btn btn-primary" type="submit" name="stay">Stay</button>
</form>

<!--
# button to stay
# button to hit
# instructions
-->
