<!-- dealer's hand -->
<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <%#= dealer.hand_view %>
    <p>Dealer's Hand: 7, 2</p>
    <%#= dealer.score %>
    <p>Hand Value: 9</p>
  </div>
</div>

<!-- player's hand
# player's score
# player's bet -->
<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <%#= player.hand_view %>
    <p>Player's Hand: 3, 2</p>
    <%#= player.score %>
    <p>Hand Value: 5</p>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <% locals[:deck].each do |card| %>
    <%= card.front %>
    <% end %>
  </div>
</div>








<!-- # button to stay
# button to hit


# instructions -->