<h3> Player Cards </h3>

<% player_deck.each do |card| %>
  <p>Player Card: <%= card %></p>
<% end %>

<h3> Dealer Cards </h3

<% dealer_deck.each do |card| %>
  <p>Dealer Card: <%= card %></p>
<% end %>

<% if loser %>
  <p><%= loser.upcase %> lost!</p>
  <form method='get' action='/'>
    <input type='submit' value='Play Again'>
  </form>
<% end %>

<form method='get' action='/blackjack/hit'>
  <input type='submit' name='player_action' value='Hit'>
</form>

<form method='get' action='/blackjack/stay'>
  <input type='submit' name='player_action' value='Stay'>
</form>