Player:<%=  player_hand %><br>
Dealer:<%=  dealer_hand %><br>

<form action="blackjack/hit" method="post" >
  <input type="submit" value="Hit" name="choice">
</form>
<br>
<form action="blackjack/stay" method="post">
  <input type="submit" value="Stay" name="choice">
</form>

<% if session["conditions"]%>

<% end %>

<% if session["conditions"]%>

<% end %>
