<p>Player hand: <%= player_cards %></p>
<p>Dealer hand: <%= dealer_cards %></p>
<p>Player bankroll:</p>
<p>Bet amounts:</p>

<form action='/blackjack/hit' method='post' name='hit'>
<button type="submit" class="btn btn-success" name="hit">Hit</button>
</form>
<form action='/blackjack/stay' method='get' name='stay'>

<button type="submit" class="btn btn-danger" name="hit">Stay</button>

</form>



<h2><%= wording %><h2>
  
