

<!--<%= deck %><br>!-->
<img src="http://images.penguinmagic.com/images/products/original/8006b.jpg" style="height: 200px">
<img src="10_of_clubs.png">
<br>
<%= dealer_hand %>
<%= player_hand %>
<form method="post" action="/blackjack/hit">
  <button type="submit">Hit me!</button>
</form>


<form method="post" action="/blackjack/stay">
  <button type="submit">Stay!</button>
</form>