

<!doctype html>
<html>
  <head>
    <title>
      Black Jack
    </title>
  </head>

  <body>

  	<h1>Let's Play!</h1>

    <p>Dealers Hand</p>

    <p><%= JSON.parse( session[:player] )
 %></p>
    <br>

    <p>Player's Hand</p>
    <br>
    <p><%= JSON.parse( session[:dealer] )%></p>
    <br>

		<form action="/blackjack" method="post">
		  <br>
		  <input type="submit" name="move" value="Hit">
      <input type="submit" name="move" value="Stay">
		</form>

  </body>

</html>
