<% if hit %>
  
  <form method='get' action='/blackjack/hit'>
    <input type='submit' class='btn btn-info btn-md' name='player_action' value='Hit'>
  </form>
  <form method='get' action='/blackjack/double'>
    <input type='submit' class='btn btn-info btn-md' name='player_action' value='Double'>
  </form>

<% else %>
 
  <form method='get' action='/blackjack/hit'>
    <input type='submit' class='btn btn-info btn-md' name='player_action' value='Hit' disabled>
  </form>

  <form method='get' action='/blackjack/double'>
    <input type='submit' class='btn btn-info btn-md' name='player_action' value='Double' disabled>
  </form>

<% end %>

<form method='get' action='/blackjack/stay'>
  <input type='submit' class='btn btn-info btn-md' name='player_action' value='Stay'>
</form>