<form method = 'get' action = '/bet'>
  <input type="submit" value = "Place a new bet" style = "padding:15px">
</form>

<form method = 'post' action ='/' >
  <input type="submit" name="restart" value="Reset bank" style = "padding:15px">
</form>