<h1><%= session['message'] %></h1>

<h2>Player hand: <%= session['player_hand'] %></h2>
<h2>Dealer hand: <%= session['dealer_hand'] %></h2>

<h2>Play again?</h2>
<a href="/bet"><input type="button" name="whatevs" value="Yes."></a>
