<html>
<header> Game started</header>

<body>

    <p>Money <%=bankroll%></p>
    <% if gamestate %>
      <form action="/blackjack" method="post">
        <input type="submit" name="choice" value="Deal">
      </form>
    <% else %>
       <p>Player hand <%=playercards%></p>
        <p>Dealer hand <%=dealercards[0]%></p>
       
      <form action="/blackjack" method="post">
        <input type="submit" name="choice" value="Hit">
      </form>
      <form action="/blackjack" method="post">
        <input type="submit" name="choice" value="Stand">
      </form>
    <% end %>


  </form>

</body>
</html>