<html>
<header> Game started</header>

<body>
  <p>Dealer hands <%=dealercards%></p>
  <p>Player hands <%=playercards%></p>
  <form action="/game" method="post">
      <input type="submit" name="choice" value="Hit">
      <input type="submit" name="choice" value="Stand">
      <input type="submit" name="choice" value="Deal">
  </form>

</body>
</html>