<h1>Welcome to Blackjack!</h1>
<h2>Instructions:</h2>
  <p>
    Blackjack, aka 21, is a card comparing game. The player (you) plays against
    the dealer (computer). Each are dealt two cards to start, dealer has one card
    showing and one card hidden. The object of the game is to get as close to a
    score of 21 points without going over, if player or dealer goes over 21 they
    lose the game, aka BUST. If the player or dealer gets to 21 with the first
    two cards, they win by BLACKJACK! After the cards have been dealt if no one
    BLACKJACKed, you have the option to HIT or STAY. If you HIT, you are dealt
    another card, if you BUST with that card you automatically lose your turn and
    any bets placed. Otherwise, you again have the option to HIT again or STAY.
    If you STAY the turn moves to the dealer who has to HIT until
    they have at least 17 points. If they then BUST you win. If neither party
    hits 21 or busts whoever has the higher points wins.
    <br>
    Cards are scored as follows:
    <ul>
      <li>King, Queen, Jack: 10 points </li>
      <li>Ace: 1 or 11 points (which ever is more advantageous)</li>
      <li>Numeric Cards: same as their numeric value</li>
    </ul>
  </p>

<h2><link><a href = "/blackjack">Play Blackjack!</link></h2>
