<!DOCTYPE html>
<html>
<head>
  <title>WElcome to BlackJack Game</title>
</head>
<body>
<h2>
  Blackjack, also known as twenty-one, is the most widely played casino banking game in the world.
</h2>
<h3>
  Blackjack is a comparing card game between a player and dealer, meaning players compete against the dealer but not against other players.The objective of the game is to beat the dealer in one of the following ways:
</h3>
<ul>
  <li>Get 21 points on the player's first two cards (called a "blackjack" or "natural"), without a dealer blackjack;</li>
  <li>Reach a final score higher than the dealer without exceeding 21; or</li>
  <li>Let the dealer draw additional cards until his or her hand exceeds 21.</li>
</ul>

<a href="/blackjack/bet"><h1>PLAY THE GAME</h1></a>


</body>
</html>