<h1>Welcome to Blackjack!</h1>

  <h3>You have $<%= bank %> in the bank.</h3>


  <form class="form-inline" action = "/blackjack" method = "get" style="font-size: 20px;">

    I bet $<input class="form-control" type = "number" name = "bet" placeholder="Place your bet!" min="1" max="<% bank %>" required style="width:200px;">.
    <input class="btn btn-success" type = "submit" value = "Play!" >
  </form>

  <form class="form btn" action="/" method="get">

    <input class="btn btn-primary" type = "submit" value = "Reset Game." >


  </form>