<h1>Welcome to Blackjack</h1>
<form action="/blackjack" method="get">
  <input type="number" placeholder="Place Bet Here" min="0" max="<%= bankroll %>" name="bet"/>
  <input type="submit" value="Deal Hand" />
</form>
