<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Welcome to Blackjack!</h1>
    <p class="lead">A brief description</p>
    <hr class="my-4">
    <p>How to play/instructions</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/blackjack" role="button">Play a game!</a>
    </p>
  </div>
</div>