<%= erb :'header' %>
<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">A standard casino Blackjack game developed using the Sinatra web framework.</h3>
    <h3 class="text-center">Minimal styling courtesy of Bootstrap.</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <p class="text-center">To start playing, <a href="/bet">click here.</a></p>
  </div>
</div>
