<!doctype html>
<html>
  <head>
    <title>
      Blackjack
    </title>
  </head>

  <body>
    <h4>Let's play Blackjack!</h4>
    <form action='/blackjack' method='post'>
      <button name='action' type='submit' value='play'>Let's Play</button>
    </form>

  </body>

</html>