
<!doctype html>
<html>
  <head>
    <title>
      Black Jack
    </title>
  </head>

  <body>

  	<h1>Welcome to Black Jack</h1>


    <form action="/bet" method="get">
      <br>
      <input type="submit" value="Place Bet">
    </form>


  </body>

</html>
