<div class="main-menu">
	<%
	['s13', 's01'].each do |card|
	%>
		<img class="card" src="/assets/images/cards/<%= card %>.png" alt="Card"/>
	<% end %>
	<br>
	<a href="/blackjack" title="Play Blackjack!">Play</a>
</div>