
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-centered">
    <h2>Welcome to Blackjack!</h2>
    <form action="/blackjack" method="post">
      <label for="bankroll col-md-offset-2">Please enter your starting bankroll!</label>
        <br>
        <div class="input-group col-md-8">
          <span class="input-group-btn">
            <input class="form-control col-md-3" type ="text" name="bankroll" placeholder="1000">
            <input type="submit" value="Submit" class="btn btn-md btn-success">
          </span>
      </div>
    </form>
</div>
