<!doctype html>
<h1>Welcome to Blackjack.  I am your dealer, Conrad.  Please select the number of players in your group and let me know if you'd like to play against my computer friend, Ben, as well.</h1>
<% session["shoe"].each do |card| %>
<%= card.name %>
<%end %>
<form action="/blackjack" method="post">
  <input type="radio" name="num_players" value=1>1
  <input type="radio" name="num_players" value=2>2
  <input type="radio" name="num_players" value=3>3
  <input type="radio" name="num_players" value=4>4
  <br>
  <input type="radio" name="ai" value=true>Yes, play with Ben.
  <input type="radio" name="ai" value=false>No, just my group.
  <br>
  <input type="submit" value="Play!">
</form>
