<div class="jumbotron">
  <h2>Welcome to Blackjack with Sinatra!</h2>

  <% if session[:bankroll] %>
    <p>
      <a href="/blackjack/bet" class='btn btn-primary btn-lg'>Continue playing next round</a>
    </p>
    <p>
      <a href="/blackjack/player/new" class='btn btn-default btn-lg'>Cancel and start with a fresh bankroll</a>
    </p>
  <% else %>
    <p>To start a new game, click here:</p>
    <p>
      <a href="/blackjack/player/new" class='btn btn-primary btn-lg'>Play now!</a>
    </p>
  <% end %>
</div>



