<h1>Blackjack</h1>

<form action='/new'>

  <h4>How much money do you want to bankroll?</h4>
  <input type='text' name='bankroll'>
    <button type="submit" class="btn btn-success">Let's play!</button>

</form>