<h1> Welcome to Blackjack! </h1>

<a href="/blackjack" >Start a Game</a>

<p>You currently have <%=bankroll%> dollars!</p>

<form action="/" method="get">
  <input type="submit" name="reset" value="Reset bankroll?">
</form>
