<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/card.css">
  <title>Blackjack</title>
</head>
<body>

    <%# <%= erb :nav_bar %>
    <% if flash[:notice] %>
    <div class="alert alert-warning">
      <h2><%= flash[:notice] %></h2>
    </div>
    <% end %>
    <%= yield %>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
