<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Blackjack</title>
<link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">
<link rel="stylesheet" href="/custom.css">
<meta charset="UTF-8">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="twelve columns">
			<center>
<%= yield %>
</center>
		</div>
	</div>
</div>
</body>
</html>