<%# Blackjack on Web %>

<%# views/layout.erb %>

<!doctype html>
<html>
  <head>
    <title>
      Blackjack on Web
    </title>
  </head>

  <body>
    <%= erb :"shared/navbar"
    <%= yield %>
  </body>
</html>
