<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to BlackJack</title>
  <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
