
<form method='get' action='/blackjack/hit'>
  <input type='submit' disabled  name='player_action' value='Hit'>
</form>

<form method='get' action='/blackjack/stay'>
  <input type='submit' disabled name='player_action' value='Stay'>
</form>

<form method='get' action='/'>
    <input type='submit' value='Play Again'>
</form>
