<div class = "row">
  <div class = "col-md-4 col-md-offset-4 col-centered">
    <a href = "/" class = "btn btn-md btn-default">Start Over</a>&nbsp;&nbsp;
    <a href = "/new_hand" class = "btn btn-md btn-default">New Hand?</a>&nbsp;&nbsp;
  </div>
</div>
