<div class="row">
  <div class="col-md-4 col-md-offset-4 col-centered">
    <div class="page-header">Dealer <span class="badge"><%= "#{game.hand_value(game.dealer)}" %></span></div>
  </div>
</div>

<div class="row" style="background: #669966;">
  <div class="col-md-12 col-centered">
    <% dealer_hand.each do |card| %>
      <img src = <%= img_file(card) %> style = "height: 250px; width: 150px">
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 col-centered">
    <div class="page-header">Player<span class="badge"><%= "#{game.hand_value(game.player)}" %></span></div>
  </div>
</div>

<div class = "row" style = "background: #669966;">
  <div class="col-md-12 col-centered">
    <% player_hand.each do |card| %>
     <img src = <%= img_file(card) %> style = "height: 250px; width: 150px">
    <% end %>
  </div>
</div>
