<div class = "row">
  <div class = "col-md-4 col-md-offset-4 col-centered">
    <a href = "/hit" class = "btn btn-md btn-default">Hit</a>&nbsp;&nbsp;
    <a href = "/stay" class = "btn btn-md btn-default">Stay</a>&nbsp;&nbsp;
    <a href = "/double" class = "btn btn-md btn-default">Double</a>&nbsp;&nbsp;
    <a href = "/split" class = "btn btn-md btn-default">Split</a>
  </div>
</div>