<div class="row">
  <div class="col-md-12 col-centered">
    <% dealer_hand.each do |card| %>
      <img src = <%= img_file(card) %> style = "height: 250px; width: 150px">
    <% end %>
  </div>
</div>

<div class = "row">
  <div class="col-md-12 col-centered">
    <% player_hand.each do |card| %>
     <img src = <%= img_file(card) %> style = "height: 250px; width: 150px">
    <% end %>
  </div>
</div>
