<h1>Welcome to Blackjack</h1>

<%= erb :final_cards, locals: {p_hand: p_hand, d_hand: d_hand } %>

<% if win %>
	<p> You've the better hand! You win!</p>
<% else %>
	<p> The dealer had a better hand. You lose. </p>
<% end %>

<%= erb :new_game %>