<p>Player hand:</p>
<%= erb :hand, :locals => { :hand => session["player_hand"] } %>

<p>Dealer hand:</p>
<%= erb :hand, :locals => { :hand => session["dealer_hand"] } %>

<p><strong><%= winning_message %></strong></p>

<p>Bankroll: $<%= bankroll %></p>

<a href="/bet">Play again</a> / <a href="/">Reset game</a>
