
<br>
<h1>Set the amount you want to bet</h1>
<br>
<h3>Your balance is: <%=player_bankroll%></h3>
<br>
<form action="/bet" method="post">
  <textarea type="text" name="amount"></textarea>
  <br>
  <input type="submit" value="Accept and start the game">
</form>
<br>