
  <br>
  <br>
  <br>
  <br>
  <h2>Dealer's Cards</h2>
  <br>
  <br>
  <br>
  <br>
  <h2>Your Cards</h2>
  <br>
  <br>
  <form action="/deal_cards" method="post">
    <input type="submit" value="HIT">
    <br>
    <input type="submit" value="STAND">
  </form>
  <br>
  <br>
  <h2>Points</h2>
  <br>
  <br>
  <br>
  <br>