
<br>
<br>
<br>
<br>
<h2>Dealer's Cards</h2>
<br>
<%deck%>
<%=dealer_hand[0]%>
<p>hidden card</p>
<br>
<br>
<h2>Your Cards</h2>
<br>
<%player_hand << deal_hand(deck)%>
<%player_hand.length.times do |i| %>
  <%=player_hand[i]%>
<%end%>
<br>
<%deck.pop%>
<form action="/hit" method="post">
  <input type="submit" value="HIT">
</form>
<br>
<form action="/stay" method="post">
  <input type="submit" value="STAY">
</form>
<br>
<br>
<h2>BETS</h2>
<br>
<br>
<h2>BANK ROLL</h2>
<br>
<br>