
<br>
<br>
<br>
<br>
<h2>Dealer's Cards</h2>
<br>
<%dealer_hand.length.times do |i| %>
  <%=dealer_hand[i]%>
<%end%>
<br>
<br>
<h2>Your Cards</h2>
<br>
<%player_hand.length.times do |i| %>
  <%=player_hand[i]%>
<%end%>
<br>
  <%if who_won == -1%>
    <h1> You busted!</h1>
  <%elsif  who_won == 0%>
    <h1>DRAW</h1>
  <%else%>
    <h1>Congratulations, You won!!!</h1>
  <%end%>
<br>
<br>
<form action="/continue_game" method="post">
  <input type="submit" value="PLAY MORE">
</form>
<form action="/new_game" method="post">
  <input type="submit" value="TRY A NEW GAME">
</form>
<br>
<h2>BETS</h2>
<%=player_bet%>
<br>
<br>
<h2>BANK ROLL</h2>
<%=player_bankroll%>
<br>