body{
  background-image: url('/card_table.jpg');
  background-repeat: no-repeat;
  background-position: center, center;
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Serif', serif;
}

.action-button {
  margin-right: 10px;
}

.well {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}

.title {
  font-size: 4em;
}

hr {
  border-top: 2px solid #eee;
}

#home-link a {
  color: white;
}

#home-link a:hover {
  color: #ccc;
  text-decoration: none;
}
